@import "tailwindcss";

* {
  cursor: default !important;
}

body {
  user-select: none;        /* Disable text selection */
  -webkit-user-select: none;
  -ms-user-select: none;
}

img {
  pointer-events: none;     /* Prevent drag */
  user-drag: none;
  -webkit-user-drag: none;
}
